@font-face {
    font-family: "montserrat";
    src: url("../fonts/montserrat.eot");
    src: url("../fonts/montserrat.eot?#iefix")format("embedded-opentype"),
    url("../fonts/montserrat.woff") format("woff"),
    url("../fonts/montserrat.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "montserrat-bold";
    src: url("../fonts/montserrat-bold.eot");
    src: url("../fonts/montserrat-bold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/montserrat-bold.woff") format("woff"),
    url("../fonts/montserrat-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "montserrat-light";
    src: url("../fonts/montserrat-light.eot");
    src: url("../fonts/montserrat-light.eot?#iefix")format("embedded-opentype"),
    url("../fonts/montserrat-light.woff") format("woff"),
    url("../fonts/montserrat-light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}